<div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
  <%= form_with(model: popup_setting, local: true) do |form| %>
    <% if popup_setting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(popup_setting.errors.count, "error") %> prohibited this popup_setting from being saved:</h2>

        <ul>
        <% popup_setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="Polaris-FormLayout">
      <div class="Polaris-FormLayout__Item">
        <div class="">
          <div class="Polaris-Labelled__LabelWrapper">
            <div class="Polaris-Label"><label id="TextField3Label" for="cart_amount" class="Polaris-Label__Text">Cart Amount</label></div>
          </div>
          <div class="Polaris-TextField Polaris-TextField--hasValue">
            <!-- <input id="cart_amount" class="Polaris-TextField__Input" type="number" aria-invalid="false" value="1"> -->
            <%= form.number_field :cart_amount,class: "Polaris-TextField__Input" %>
            <div class="Polaris-TextField__Spinner" aria-hidden="true">
              <div role="button" class="Polaris-TextField__Segment" tabindex="-1">
                <div class="Polaris-TextField__SpinnerIcon">
                  <span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"><path d="M15 12l-5-5-5 5z"></path></svg>
                  </span>
                </div>
              </div>
              <div role="button" class="Polaris-TextField__Segment" tabindex="-1">
                <div class="Polaris-TextField__SpinnerIcon">
                  <span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"><path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path></svg>
                  </span>
                </div>
              </div>
            </div>
            <div class="Polaris-TextField__Backdrop"></div>
          </div>
        </div>
      </div>
      <div class="Polaris-FormLayout__Item">
        <div class="">
          <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
            <label class="Polaris-Choice" for="Checkbox1"><span class="Polaris-Choice__Control"><span class="Polaris-Checkbox">
            <%= form.check_box :status,class: "Polaris-Checkbox__Input", id: "Checkbox1" %>
            <span class="Polaris-Checkbox__Backdrop"></span><span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
            </svg></span></span></span></span><span class="Polaris-Choice__Label">Status</span></label></div>
        </div>
      </div>

      <div class="Polaris-FormLayout__Item">
        <div class="">
          <div class="Polaris-Labelled__LabelWrapper">
            <div class="Polaris-Label"><label id="TextField3Label" for="cart_amount" class="Polaris-Label__Text">Popup Position</label></div>
          </div>
          <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
            <div class="Polaris-Stack Polaris-Stack--vertical">
              <div class="Polaris-Stack__Item">
                <div>
                  <label class="Polaris-Choice" for="pstnRightBottom">
                    <span class="Polaris-Choice__Control">
                      <span class="Polaris-RadioButton">
                        <%= form.radio_button :position,"bottom_right",class: "Polaris-RadioButton__Input",id: "pstnRightBottom" %>
                        <span class="Polaris-RadioButton__Backdrop"></span>
                        <span class="Polaris-RadioButton__Icon"></span>
                      </span>
                    </span>
                    <span class="Polaris-Choice__Label">Bottom Right</span>
                  </label>
                </div>
              </div>
              <div class="Polaris-Stack__Item">
                <div>
                  <label class="Polaris-Choice" for="pstnLeftBottom">
                    <span class="Polaris-Choice__Control">
                      <span class="Polaris-RadioButton">
                        <%= form.radio_button :position,"bottom_left",class: "Polaris-RadioButton__Input",id: "pstnLeftBottom" %>
                        <span class="Polaris-RadioButton__Backdrop"></span>
                        <span class="Polaris-RadioButton__Icon"></span>
                      </span>
                    </span>
                    <span class="Polaris-Choice__Label">Bottom Left</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Polaris-FormLayout__Item">
        <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;"><button type="submit" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Update Popup Setting</span></span></button></div>
      </div>
    </div>
  <% end %>
</div>