<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
      <div style="height: 250px;">
        <div style="--top-bar-background:#687ae8; --top-bar-background-lighter:#95aac9; --top-bar-color:#FFFFFF;">
          <div class="Polaris-Frame Polaris-Frame--hasTopBar" data-polaris-layer="true">
            <%= render 'layouts/top_bar' %>
            <main class="Polaris-Frame__Main" id="AppFrameMain" data-has-global-ribbon="false">
              <div class="Polaris-Frame__Content">
                
                <%= yield %>

                <%= render "layouts/footer" %> 
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
    <div class="Polaris-Frame-ToastManager"></div>

    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      shop_origin: ("https://#{ @shop_session.url }" if @shop_session),
      debug: Rails.env.development?
    } ) %>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
